.mainPage{
    padding-top: 6%;
    padding-bottom: 1.5%;
    padding-left: 10%;
    padding-right: 10%;
}

.mainPage > img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 8px -9px rgb(0, 0, 0.75);
}

.declaracion{
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(85, 187, 183,.10);
}

.declaracion > h2, h3{
    font-family: 'Poppins', sans-serif;
}

.declaracion > h2{
    font-weight: 600;
    font-size: 25px;
}

.declaracion > h3{
    font-weight: 300;
    font-size: 15px;
}

.imgDos{
    width: 100%;
    border-radius: 10px;
}

.inicioSes{
    padding: 10px;
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 120px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 10px;
    box-shadow: 0px 5px 8px -9px rgb(0, 0, 0.75);
}

#inicio{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

form{
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
}

#inputEmail3, #inputPassword3, .formatoIn{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    background-color: #f4f6f8;
    border: transparent;
    width: 100%;
    padding: 10px;
}


.btn-primary{
    margin-top: 10px;
    background-color: #55bbb7;
    border: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;



}